.list-actions {
  display: flex;
  margin-bottom: 12px;
  > * {
    margin-right: 16px;
  }
  :last-child {
    margin-left: auto;
    margin-right: 0;
  }

  .ant-picker {
    color: rgba(66, 82, 110, 1);
    // background-color: rgb(225, 227, 233);
    &:not(.ant-picker-focused):not(:hover) {
      border-color: transparent;
    }
    input {
      color: inherit;
    }
  }
}
