.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  height: 100%;
  .ant-card {
    background-color: inherit;
    .ant-card-head {
      background-color: inherit;
      padding-left: 0;
    }
    .ant-card-body {
      background-color: white;
      border-radius: 10px;
      .recharts-responsive-container {
        font-size: 12px;
      }
    }
  }
}
