body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  height: 100%;
  background-color: #f0f2f5;
}

.right-align {
  margin-left: auto !important;
  margin-right: 0 !important;
  display: block !important;
}

.ant-list {
  background-color: white;
  .ant-list-header {
    // padding-left: 16px;
    font-weight: 500;
  }
  // .ant-list-item {
  //   padding-left: 16px;
  //   padding-right: 16px;
  // }
}

.ant-card.ant-card-small {
  > .ant-card-head {
    padding-left: 16px;
    padding-right: 16px;
    .ant-card-head-title {
      padding: 12px 0 !important;
    }
  }
  .ant-card-body {
    padding: 16px;
    > .ant-list.ant-list-sm.ant-list-bordered {
      margin-top: -12px;
      border: 1px solid transparent;
      .ant-list-item {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}
